* {
    margin: 0;
    font-family: Arial;
    border:border-box;
}

.navbar {
    height: 90px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nev-logo {
    height:60px;
    width:90px;
}
.logo {
    background-image:url("Amazon-Emblem.jpg");
    background-size: cover;
    height:60px;
    width:150%;
    
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid rgb(247, 245, 245);
}

/**box2**/

.add-first {
    color: #cccccc;
    font-size: 0.85ram;
    margin-left:20px;
}
.add-second {
    font-size: 1rem;
}

.add-icon {
    display:flex;
    align-items: center;
}

/**box2**/

.nev-search{
    display: flex;
    justify-content: space-evenly;
    
    width:620px;
    height:40px;
    border-radius: 4px; 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;

}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2ram;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    
}

.nev-search:hover{
    border:2px solid orange;
}
/**box4**/

span{
    font-size:0.8rem;
    
}

.nev-signin{
    font-size:1rem;
    font-weight: 700;
}

/**box5**/

span{
    font-size:0.8rem;
    
}

.nev-signin{
    font-size:1rem;
    font-weight: 700;
}

/**box6**/
.nev-cart  i {
    font-size: 2rem;

}

/**panal **/

.panal{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}



.panal-ops P {
    display: inline;
    margin-left: 10px;
}

.panal-ops{
    width:70%;
    font-size: 0.9rem;
    align-items: center;
}

.penal-Details{
    font-size: 1rem;
    font-weight: 700;
}






.slider {
    width: 100%;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    align-items: end;
}

.slides {
    display: flex;
    width: 100%; 
    animation: slide 15s  linear infinite;
    align-items: end;
}

.slides img {
    width: 100%;    
    height: 700px;
    object-fit: cover;
    align-items: end;
}

/* Animation for 15 images 100% 650px */
@keyframes slide {
    0%   { margin-left: 0%; }
    20%   { margin-left: 0%; }

    25%   { margin-left: -100%; }
    40%  { margin-left: -100%; }

    45%  { margin-left: -200%; }
    60%  { margin-left: -200%; }

    65%  { margin-left: -300%; }
    80%  { margin-left: -300%; }

    85%  { margin-left: -400%; }
    100%  { margin-left: -400%; }
}
    


/**.slider {
    width: 100%;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slides {
    display: flex;
    width: max-content;
    animation: infiniteSlide 30s linear infinite;
}

.slides img {
    width: 100vw;        /* one full image per screen 
    height: 650px;
    object-fit: cover;
}

/* Infinite animation 
@keyframes infiniteSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


/**
.img-frm-contain{
justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;
    float: left;

}
.img-frm-contain img{
    float: left;
    height: 600px;
    
}
/**
.hero-section{
    background-image: url(box1.jpg);
    background-size: cover;
    height: 600px;

}




%; /* Adjust width as needed 
}

.clear {
  clear: both; /* Essential to prevent content after the frame from overlapping 
}

.hero-section{
    height: 600px;
    width: 2000px
    ;

}
.img-frm-contain{
border: 1px solid #ccc; /* Adds a frame around the images 
padding: 10px;
  overflow: auto; /* Helps contain the floated elements 
}
/**
.float-left {
float: left;
  margin: 10px; /* Adds space around the image 
  width: 40%; /* Adjust width as needed 
}

.float-right {
float: right;
  margin: 10px; /* Adds space around the image 
  width: 40